* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-cards {
    display: flex;
    justify-content: space-around;
}

.cards {
    width: 100%;
}

@media (min-width: 1200px) {
    .cards {
        width: 1200px;
    }
}

.track-list {
    display: flex;
    flex-wrap: wrap;
}



.card {
    flex: 1 1 0%;
    height: 439px;
    padding: 5px;
    margin: 8px 8px 16px 8px;

    background-color: aqua;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.track-list>* {
    width: 100%;
}

@media (min-width: 766px) {
    .track-list>* {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .track-list>* {
        width: 33%;
    }

}


.card-header {
    height: 80px;
    width: 100%;

    background-color: blue;
}

.card-icon {
    width: 64px;
    height: 64px;
    margin: -32px 0;
    background-color: blueviolet;
    border-radius: 20%;
    display: flex;
    border: 5px solid rgb(255, 255, 255);

}