* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    min-width: 1200px;
}

.card {
    background-color: red;

    flex: initial;

}